body {
  color: #313132;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}

body.no-scroll {
  overflow: hidden;
}

.text-danger {
  font-size: 13.33px;
  color: #D8292F !important; /* Override Bootstrap class for passing accessibility tests. */
}

/* Override BCGOV Bootstrap styles. */
.form-control {
  color: #606060;
  border: 1px solid #606060;
}

.tabbed-section {
  margin-left: 20px;
  border-left: 1px solid grey;
  padding-left: 12px;
}

.field-description {
  font-size: 13.33px;
}

/* Classes for html returned from middleware. Applied globally because v-html directive won't use scoped styles */
.middleware-response {
  margin-top: 20px;
  font-weight: lighter;
}

.middleware-response > * {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.middleware-response strong {
  font-weight: bold;
}

.middleware-response > h3 {
  border-bottom: 1px solid black;
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .container.stepper {
    padding: 0;
  }
}

.b {
  font-weight: bold;
}
